.footer-section {
    background: #242424;
    margin-left: 20px;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
}

@media screen and (min-width: 768px) {
    .footer-section {
        padding-top: 32px;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 110px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-section {
        padding-top: 64px;
    }
    .footer-container {
        row-gap: 64px;
    }
}

.footer-base {
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 768px) {
    .footer-base {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.footer-main {
    margin-top: 45px;
   
}

.footer-logo {
    display: inline-block;
    
}

.footer-logo-icon {
   fill: #f4f4f4;
}

.footer-social-media-list {
    display: flex;
    column-gap: 12px;
    margin-left: 20px; /* Маргін зверху 20px, решта - 0 */
    justify-content: flex-start; /* Вирівнювання елементів по лівому краю */
}

.footer-social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    opacity: 0.8;
    background: transparent;
    transition: all 0.3s ease;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
    background-color: #f4f4f4; /* Колір фону при наведенні або фокусу */
}

.logo {
    fill: #f4f4f4; /* Початковий колір іконки */
    transition: fill 0.3s ease; /* Плавна зміна кольору */
}

.logo:hover,
.logo:focus {
    fill: #242424; /* Колір іконки при наведенні або фокусу */
}


.footer-text-section {
    margin: 20px;
    
}

.footer-text-title {
    margin-top: 40px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.15789;
    letter-spacing: -0.02em;
    color: #f4f4f4;
    font-family: "DM Sans", sans-serif;
}

.footer-text-title em {
    font-style: italic;
}

.footer-text-subtitle {
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #f4f4f4;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.subscription-form input[type="email"] {
    background-color: inherit;
    border: 1px solid #f4f4f4;
    border-radius: 30px;
    padding: 12px 14px;
    width: 100%;
    box-sizing: border-box;
    color: #999;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}

.subscription-form button[type="submit"] {
    border: 1px solid #f4f4f4;
    border-radius: 30px;
    width: 100%;
    max-width: 335px;
    height: 42px;
    background-color: #f4f4f4;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #242424;
    cursor: pointer;
}

.subscription-form button[type="submit"]:hover {
    background-color: #e0e0e0;
}

.footer-rights-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
}

.footer-rights-row {
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;

}

.footer-rights-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #c6cdd1;
}

.footer-rights-link a {
    font-size: 14px;
    font-weight: 400;
    color: #c6cdd1;
    opacity: 0.9;
    text-decoration: none;
}

.footer-rights-divider {
    margin: 0 8px;
    color: #c6cdd1;
    opacity: 0.9;
}

.footer-rights-year {
    font-size: 14px;
    font-weight: 400;
    color: #c6cdd1;
    opacity: 0.9;
    margin-left: auto; /* Заповнює весь доступний простір зліва */
    padding-right: 20px; /* Відступ від правого краю */
}

@media screen and (min-width: 768px) {
    .footer-rights-section {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .footer-rights-text,
    .footer-rights-row {
        margin-bottom: 0;
    }
}
