.footer-section {
    background: var(#242424);
    padding-top: 40px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .footer-section {
        padding-top: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-section {
        padding-top: 64px;
    }
}

