<footer class="footer-section" id="footer">
    <div class="footer-container">
        <div class="footer-base">
          <div class="footer-tablet">
            <div class="logo-socials" id="footer-logo">
                <div class="footer-main">
                    <a class="footer-logo" href="./index.html">
                        <svg class="footer-logo-icon" width="132" height="14">
                            <use href="./img/icons.svg#logo"></use>
                        </svg>
                    </a>
                </div>
                <ul class="footer-social-media-list">
                    <li class="item">
                        <a class="footer-social-media-link" href="https://www.facebook.com/goITclub">
                            <svg class="logo" width="24" height="24">
                                <use href="./img/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a class="footer-social-media-link" href="https://www.instagram.com/goitclub">
                            <svg class="logo" width="24" height="24">
                                <use href="./img/icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a class="footer-social-media-link" href="https://www.youtube.com/c/GoIT">
                            <svg class="logo" width="24" height="24">
                                <use href="./img/icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-text-section-tablet">
            <div class="footer-text-section">
                    <p class="footer-text-title">Transforming your <em>body</em> shape with us</p>
            </div>
            <div class="footer-text-subsection">
                    <p class="footer-text-subtitle">Subscribe and learn about new exercises!</p>
                    <div class="subscription-form">
                        <form id="subscriptionForm">
                            <input type="email" id="email" name="email" placeholder="Email" required pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="footer-rights-section">
            <div class="footer-rights-row1">
                <span class="footer-rights-text">Your Energy. All rights reserved.</span>
            </div>
            <div class="footer-rights-row2">
                <span class="footer-rights-link"><a href="#" aria-label="Privacy Policy">Privacy Policy</a></span>
                <span class="footer-rights-divider"> / </span>
                <span class="footer-rights-link"><a href="#" aria-label="Terms of Service">Terms of Service</a></span>
                <span class="footer-rights-year">©2023</span>
            </div>
        </div>
    </div>
</footer>